/*Media Query is CSS3 feature that makes a webpage adapt its layout to different screensize.

Synatax: @media media type and (condition: breakpoint){
    CSS Rules

}

@media (Media Rule) - to specify target media types.

Parenthesis - where we set the condition

media type - it follows the media rule it selects or choose sizes

- concatenate (joins the statement) using the "and" keyword

Breakpoints - it is a key to determine when to change the layout or adapt the new rules inside the query.

*/


* {
    box-sizing: border-box;
}


.left {
    background-color: #2196F3;
    padding: 20px;
    float: left;
    width: 20%; /*set width default prior to declaring media sizes*/
}

.main {
    background-color: #f1f1f1;
    padding: 20px;
    float: left;
    width: 60%; /*set width default prior to declaring media sizes*/

}

.right {
    background-color: #04AA6D;
    padding: 20px;
    float: left;
    width: 20%; /*set width default prior to declaring media sizes*/

}


/*use a media query to add a breakpoint*/

/*for desktop*/

@media screen and (min-width:1024px) /*the changes is applicable to 1024px and above*/ {
    .left, .main, .right {
        width: 100%; /*sets width into 100% when this media query declaration is set*/
        height: 0;

    }

}


/*for tablet*/

@media screen and (min-width:768px) and (max-width:1023px) /*changes is applicable to the sizes 768px up to 1023px*/ {
    .main {
        position: fixed;
        width: 100%;
        top: 100px;
    }

    .left {
        width: 50%;
        position: relative;
        top: 100px;
    }

    .right {
        position: relative;
        left: 1px;
        width: 50%;
        top: 100px;
    }

}