/*Universal selector*/

* {
    font-family: 'Lobster', cursive;
}

h1 {
    color: brown;
}

/*ID Selector*/

#title-1 {

    color: palegreen;
}

/*Class Selector*/

.title-2 {

    color:violet;
    text-align: center;
}

/*Attribute Selector*/

[type="text"] {
    background-color: aquamarine;

}

/*Combinator Selector*/

/*Descendant Selector
-selects/targets "all elements" that matches the specified element

Syntax: first element child element {
    property: value
}
*/

/* div p {
    background-color: red;
} */

/* Child Selector 
- selects/targets "all" elements that are all "children" of a specified element
*/

/* div > p {

    background-color: chocolate;
} */

/*Adjacent Sibling Selector
(+)
Selects/targets an element that is directly after the first selector
*/

/* p + p {
    background-color: maroon;
} */

/* div + p {
    background-color: blueviolet;
} */


/*General Sibling Selector (~)*/

/* p ~ p {
    background-color: fuchsia;
} */

/*
Medium devices (landscape tablet, 500px and up)
*/
@media only screen and (min-width: 500px) {
    .screen {
        background-color: rgb(235, 37, 169);
}

/*
Large devices (laptops and desktops, 900px and up)
*/


@media only screen and (min-width: 900px) {
    .screen {
        background-color: blue;
}


/*
Pseudo Class
Selector: pseudo-class {property:value}
*/

/*Unlisted Link*/

a:link {
    color:red;
}
}

a:visited {
    color:green
}

a:hover {
    color:orange;
}

a:active {
    color:dodgerblue;
}

/*Psuedo Elements

-used to style a specific part of an element

syntax: selector:: speudo-element {property:value}

*/

/* First line - when we shrink or resize web pages, the first line of a sentence will be affected */

/* p::first-line {

    color:red;
    font-variant: small-caps;

} */

p::first-letter {
    color: brown;
    font-size: 200$;
}

/* manipulate pic in CSS */

#dreamcar img{
    width: 10%;
    height: 10%;
    border-radius: 4px;

}

li {
    list-style-type: none;

}

ul > li {
    letter-spacing: 4px;


}